<h1 class="page-header">FILM</h1>

<aside class="film-sidebar">
	<section class="film-sidebar-item"></section>
	<section class="film-sidebar-item"></section>
	<section class="film-sidebar-item"></section>
	<section class="film-sidebar-item"></section>
	<section class="film-sidebar-item"></section>
	<section class="film-sidebar-item"></section>
	<section class="film-sidebar-item"></section>
	<section class="film-sidebar-item"></section>
	<section class="film-sidebar-item"></section>
	<section class="film-sidebar-item"></section>
</aside>