<h1 class="page-header">MUSIC</h1>

<aside class="music-sidebar">
	<section class="music-sidebar-item" ng-click="getTrack('https://soundcloud.com/thump/02-craig-williams-indicator')"></section>
	<section class="music-sidebar-item" ng-click="getTrack('https://soundcloud.com/cashmerecat/pearls')"></section>
	<section class="music-sidebar-item"></section>
	<section class="music-sidebar-item"></section>
	<section class="music-sidebar-item"></section>
	<section class="music-sidebar-item"></section>
	<section class="music-sidebar-item"></section>
	<section class="music-sidebar-item"></section>
	<section class="music-sidebar-item"></section>
	<section class="music-sidebar-item"></section>
</aside>

<div class="music-content-container">
<div id="soundcloud-player" class="widget-placement"></div>
<div class="track-info"></div>
<div class="photo-orbit"></div>
<div class="music-video"></div>
<div class="more-links"></div>
</div>